.container {
  text-align: center;
}

h3 {
  text-align: center;
}

ul {
  text-align: center;
  list-style-position: inside;
}

#contact {
  text-align: right;
}

.digital li p a {
  background-color: yellow;
  font-style: italic;
  font-weight: 200;
}

.r {
  width: .2px;
  float: left;
}

.c {
  width: 5px;
  float: right;
}
